Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/ar-lib
/jni/
*.jar
*.class
*.o
*.lo
*.la
*.aar
*.pom
.deps/
.libs/
.dirstamp
/lib/libsigrokandroidutils.pc
